html {
    font-size: 90%;
    scroll-behavior: smooth;
}

body {
    background: #FFFCFC;
}

/*Text styles*/

h1 {
    font-size: 2.6rem;
    font-family: 'Yeseva One', Georgia, serif;
}

.introText {
    font-size: 1.8rem;
    font-family: 'Oxygen', Arial, sans-serif;
}

h2 {
    font-size: 2.3rem;
    font-family: 'Yeseva One', Georgia, serif;
}

h3 {
    font-size: 1.8rem;
    font-family: 'Yeseva One', Georgia, serif;
}

p {
    font-size: 1.4rem;
    font-family: 'Oxygen', Arial, sans-serif;
}

.contentLink {
    text-decoration: underline;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Oxygen', Arial, sans-serif;
}

.contentLink:hover {
    color: #b62496; 
}



/*Header styles*/

.navigation {
    display: flex;
    align-items:center;
}

.logo {
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
}

.navigation ul {
    display: flex;
    margin-left: auto;
    list-style: none;
    padding-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #1a1a17;
    padding: 20px 20px;
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oxygen', Arial, sans-serif;
}

#activeNav {
    color: #b62496;
    text-decoration: underline;
    font-weight: 700;
}

.navigation a:hover {
    color: #b62496;   
}

/*Module 19 jQuery and JS - Modal */
.modal {
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.modal-content #CTAtext {
    color: #b62496;
}

.close {
    color: #1a1a17;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Hero styles*/

.heroContent {
    display: flex;
    align-items: start;
}

.heroItems {
    padding: 20px;
    margin: 20px;
}

.heroImage {
    border-radius: 50%;
    height: 230px;
    margin: 70px 50px 40px 40px;
    box-shadow: 5px 10px 18px #888888;
}

/*NEW 19 Work section styles - CSS Grid*/

.workContainer {
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'CFIA1 CFIA2'
    'STW3 STW4';
}
.CFIA1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CFIA1Img {
    width: 75%;
    padding: 10px 0;
}

.CFIA2 {
    padding-right: 10vw;
}

.STW3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.STW3Img {
    width: 75%;
    padding: 10px 0;
}

.STW4 {
    padding-right: 10vw;
}

button {
    border: 0;
    padding: 0 20px;
    line-height: 2;
    font-size: 1.4rem;
    font-family: 'Oxygen', Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    color: #FFFCFC;
    border-radius: 10px;
    background-image: linear-gradient(160deg, rgba(182,36,150,1), rgba(182,36,150,0.75));
}

button:hover {
    background-image: linear-gradient(160deg, rgba(133,26,109,1), rgba(133,26,109,0.7));
}

/*Module 19 Skills section*/

.skills {
    background: #a1c5f0;
    margin: 20px;
    padding: 20px;
}

.skillsContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'skill1 skill2 skill3'
    'skill4 skill5 skill6';
    grid-gap: 10px;
}

.skill {
    padding: 10px;
    margin: 10px;
}

.skill img {
    width: 10vw;
}

.tools {
    margin: 40px;
}

.tools li {
    font-size: 1.4rem;
    font-family: 'Oxygen', Arial, sans-serif;
}

/*Contact section styles*/

#CTAtext {
    padding: 40px 10px 10px 10px;
    margin: 10px;
    font-size: 2.4rem;
    font-family: 'Yeseva One', Georgia, serif;
    text-align: center;
}

.contactIcons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.icon {
    width: 40px;
    height: auto;
    margin: 15px;
}


/*Footer styles*/

.footerNav {
    display: flex;
    align-items: end;
}

.footerNav ul {
    display: flex;
    list-style: none;
    padding-left: 20px;
    margin-top: 20px;
}

.footerNav a {
    text-decoration: none;
    color: #1a1a17;
    width: 100px;
    padding: 20px 20px;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Oxygen', Arial, sans-serif;
}

.footerNav a:hover {
    color: #b62496;   
}

.copyrightText {
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: 40px;
    font-weight: 300;
    font-family: 'Oxygen', Arial, sans-serif;
    font-size: 1.2rem;
}

/*Media Queries*/

@media only screen and (max-width: 730px){
    .skillsContainer {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'skill1 skill2'
        'skill3 skill4'
        'skill5 skill6';
        grid-gap: 10px;
    }
}

@media only screen and (max-width: 600px){
    
    .heroImage {
        display:none;
    }
    html {
        font-size: 70%;
    }

    .logo {
        padding-left: 10px;
        padding-top: 0;
    }

    .navigation ul {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 10px;
    }

    .navigation li {
        padding: 5px;
    }

    .workContainer {
        display: grid;
        width: 100vw;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'CFIA1'
        'CFIA2'
        'STW3'
        'STW4';
    }
    .CFIA2 {
        padding-left: 12.5vw;
    }
    .STW4 {
        padding-left: 12.5vw;
    }

    .skillsContainer {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        'skill1'
        'skill2'
        'skill3'
        'skill4'
        'skill5'
        'skill6';
        grid-gap: 10px;
    }

    .skill {
        margin: 0;
        padding: 0;
    }

    .footerNav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .footerNav li {
        padding: 5px;
    }
}